<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.company.souvenir2k20">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.company.souvenir2k20.SplashScreenSouvenir"></activity>
        <activity android:name="com.company.souvenir2k20.TechnicalArticle" />
        <activity android:name="com.company.souvenir2k20.ResearchPaper" />
        <activity android:name="com.company.souvenir2k20.EnglishArticles" />
        <activity android:name="com.company.souvenir2k20.PoetryPaper" />
        <activity android:name="com.company.souvenir2k20.EventBanner.EventBannerActivity" />
        <activity android:name="com.company.souvenir2k20.AnandCollege.AnandEngineeringCollege" />
        <activity android:name="com.company.souvenir2k20.ArtGalary" />
        <activity android:name="com.company.souvenir2k20.Message.MessageDetailActivity" />
        <activity android:name="com.company.souvenir2k20.Message.MessageActivity" />
        <activity android:name="com.company.souvenir2k20.MainActivity"/>
        <activity android:name="com.company.souvenir2k20.SplashScreenAnand">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>